h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h1, h2 {
    font-family: arial;
}

.app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    width: 100%;
    background-image: url(https://www.metrotransit.org/img/nextrip.jpg);
    background-position: center;
    height: 300px;
    position: relative;
}

.headline h1 {
    display: flex;
    position: absolute;
    color: white;
    text-shadow: 2px 2px #000000;
    margin: 1em;
    bottom: 0;
}

.app select {
    font-size: 1.25em;
    margin: 5px;
    width: 30em;
    height: 4em;
    padding: 1em;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
}

.loading-dots {
    display: flex;
    font-size: 30px;
}

@keyframes loadingfade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100%: { opacity: 0; }
}

.loading-dot {
    animation: loadingfade 1s infinite;
    animation-delay: 0.1s;
}

.loading-dot:nth-child(1) {
    animation-delay: 0.1s;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.3s;
}

.loading-dot:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 2.5s infinite;
}

@keyframes wiggle-lines {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    80% {
        opacity: 0;
        transform: rotate(0deg);
    }
    85% {
        opacity: 1;
        transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle-lines {
    animation: wiggle-lines 2.5s infinite;
    animation-delay: 50ms;
}
