h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h1, h2 {
    font-family: arial;
}

.app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    width: 100%;
    background-image: url(https://www.metrotransit.org/img/nextrip.jpg);
    background-position: center;
    height: 300px;
    position: relative;
}

.headline h1 {
    display: flex;
    position: absolute;
    color: white;
    text-shadow: 2px 2px #000000;
    margin: 1em;
    bottom: 0;
}

.app select {
    font-size: 1.25em;
    margin: 5px;
    width: 30em;
    height: 4em;
    padding: 1em;
    appearance: none;
    background:
        url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
}

.loading-dots {
    display: flex;
    font-size: 30px;
}

@keyframes loadingfade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100%: { opacity: 0; }
}

.loading-dot {
    animation: loadingfade 1s infinite;
    animation-delay: 0.1s;
}

.loading-dot:nth-child(1) {
    animation-delay: 0.1s;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.3s;
}

.loading-dot:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 2.5s infinite;
}

@keyframes wiggle-lines {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    80% {
        opacity: 0;
        transform: rotate(0deg);
    }
    85% {
        opacity: 1;
        transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle-lines {
    animation: wiggle-lines 2.5s infinite;
    animation-delay: 50ms;
}
